body {
  background-color: #EBECED;
  font-family: 'Roboto', sans-serif;
}

.main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vw;
  width: 80vw;
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
}

.aside {
  background-color: #FAD8D3;
  width: 35%;
  text-align: center;
  /*display: flex;*/
}

.name,
.title {
  text-align: center;
  margin-bottom: 0;
}

.name {
  font-size: 2rem;
}

.main-content {
  padding: 2rem;
  color: darkgray;
  background-color: #FFFFFF;
  width: 65%;
}

.sl-logo {
  font-weight: 900;
  border: 5px solid #AF464D;
  color: #AF464D;
  width: 15vw;
  height: 15vw;
  max-width: 171px;
  max-height: 171px;
  margin: 3rem auto;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  text-align: left;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: .25rem 0;
}

.aside-header {
  margin-bottom: 0.5rem;
  text-align: center;
  color: #AF464D;
}

.main-header {
  color: #AF464D; 
}
